.about-main{
    /* border: 1px solid white; */
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-content{
    background-color: #1b1b1b;
    margin-top: 5vh;
    /* border: 1px solid white; */
    width: 80vw;
    height: 80vh;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gamebg{
    width: 95%;
    height: 95%;
    opacity: 0.5;
}

.about-text{
    position: absolute;
    font-size: 20px;
    font-weight: 100;
    top: 50vh;
    left: 31vw;
    width: auto;
    text-align: center;
}

.span{
    color: #75F94C;;
}
.about-title{
    position: absolute;
    font-size: 25px;
    font-weight: 700;
    top: 35vh;
}

.logoo{
    position: absolute;
    width: 3.5vw;
    height: 7vh;
    bottom: 16.5vh;
    left: 50.5vw;
}

.game-title{
    position: absolute;
    font-size: 20px;
    bottom: 14.5vh;
    left: 55vw;
}

.game-desc{
    position: absolute;
    bottom: 9.5vh;
    font-size: 15px;
    left: 49.5vw;
    color: #969696;
}