/* .post-box *{
z-index:-1;
} */

.Comment-box{
    border-bottom: 1px solid rgba(255, 255, 255, 0.467);
    display: flex;
    flex-direction: column;
    width: 92.5%;
    padding: 1%;
}

.upvote2{
    display: flex;
    flex-direction: row;
}
.Comment-header{
    display: flex;
    margin-right: 3vw;
    /* position: relative; */
}

.comment-user-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    /* border: 1px solid white; */
}

.comment-user-box *{
    margin: 0;
    padding: 0;
}

.username-container{
/* border: 1px solid; */
margin: 0 1vw ;
}
.username-container p{
/* border: 1px solid white; */
margin: 0;
padding: 0;
}

.comment-user-box .profile-image-container{
    background-color: rgb(84, 131, 148);
    height: 6vh;
    width: 6vh;
    border-radius: 10px;
}

.comment-user-box .profile-image-container img{
    height: 100%;
    margin: auto;
}


.Comment-stats-container{
    display: flex;
    /* border: 1px solid white; */
    flex-direction: row;
    align-items: center;
    
    
}

.Comment-stats-container div{
    /* border: 1px solid white; */
    display: flex;
    align-items: center;
    margin: 0   3vw 0 0  ;
}

.time-ago-container{
    /* border: 1px solid white; */
}

.reply-feed{
    margin: 2vh 0 0 5vw;
}