.notification {
    display: flex;
    flex-direction:column;
    position: fixed;
  bottom: 20px;
    text-align: center;
    right: 20px;
    background: #1A1A1A;
  padding: 10px 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  z-index: 99999999999;
  animation: fadeIn 0.5s;
}

.success {
  border-left: 5px solid rgb(3, 181, 3);

}

.failure {
  border-left: 5px solid red;
}

.notification.love {
  border-left: 5px solid pink;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


@media (max-width: 768px) {

  .notification{
    flex-direction: row;
    align-content: center;
    bottom: 85% !important;
    right: 20% !important;
    min-height: 2%;
    font-size: 100%;
    width: 50%;
  }

  .notification *{
    margin: auto;
  }

  .notification img{
    height:8vh;
    margin-top: -10%;
  }



}
