.home{
    display: flex;
    flex-direction: column;
    /* border: rgb(185, 39, 39) 1px solid; */
    padding: 1%;
    height: auto;
}

.PostView{
    /* border: 1px solid white; */
    height: auto;
}
.home .box{
    margin: 0.5%;
}
.banner-screen{
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    justify-content: start;
    scrollbar-width: none;
    cursor: grab;
    margin-bottom: 2vh;
}
.banner-container{
    border: #474747 1px solid;
    background-color: #191919;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    height: 5vh;
    width: 10vw;
    flex-shrink: 0;
    align-items: center;
}
.banner-container .active {
    cursor: grabbing;
  }

  .active-tag {
    color: #75f94c !important;
    border: #75f94c 1px solid !important;
  }
.content-screen{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.content-screen2{
    width: 70%;
    /* border: white 1px solid; */
    border-radius: 10px;
    height:auto;
}
.posts-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 8.5vh;
    /* border: 1px solid white; */
    width: 92%;
}
.side-screen{
    position: sticky;
    top: 15vh;
    
    width: 30%;
    /* border: white 1px solid; */
    border-radius: 10px;
    height: 60vh;
}

.side-screen h3{
    display: flex;
    align-items: center;
    gap: 5px;
}

.side-screen img{
    width: 2vw;
    height: 4vh;
}

.title-box{
    display: flex;
    align-items: center;
    gap: 10px;
    flex-direction: row;
}

.title-box h1{
    font-weight: 300;
    font-size: 20px;
}
.title-box img{
    width: 2vw;
    height: 4.5vh;
}
.trending-box{
    /* border: white 1px solid; */
    border-radius: 10px;
    height: 70vh;
}

.post-box{
    width: 100%;
    border-radius: 10px;
    border: 1px solid yellow;
    min-height: 30vh;
    margin-bottom: 1%;
}

.create-post-button-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.create-post-btn{
    background-color: #191919;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2vh;
    width: 100%;
    height: 5vh;
    border-radius: 10px;
    border: 1px solid #464646;
    justify-content: center;
}

.create-post-btn img{
    width: 1.5vw;
    height: 3vh;
}

.create-post-btn *{
    margin: 0 0.3vw;
}

.account-view-header{
    margin-top: 8vh;
    margin-left: 3vw;
}


@media (max-width: 768px) {
   .tags-container{
    display: none;
   }
   .side-screen{
    display: none;
   }
   .posts-screen{
    width: 100%;
    
    }
    .banner-container{
        width: 93vw;
    }
    .post-title{
        flex-direction: column !important;
        align-items: start !important;
        /* border: 1px solid green; */
    }

    .post-title *{
        margin-bottom: 0 !important;
    }
  }