:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  min-height: 100vh;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;

}

@keyframes rotate {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

body, html {
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  width: 100%; /* Ensure full width */
}

/* Apply the scrollbar styling to all elements */
* {
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: #a4a4a4 #242424; /* Thumb and track colors for Firefox */
}

/* Webkit-based browsers */
*::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
  height: 10px; /* Height for horizontal scrollbars */
}

*::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, #5c5cf7, #a1a1f7); /* Gradient for the thumb */
  border-radius: 10px; /* Rounded edges */
  border: 2px solid #f0f0f0; /* Create a gap between thumb and track */
}

*::-webkit-scrollbar-track {
  background: #f0f0f0; /* Track background */
  border-radius: 10px; /* Rounded track edges */
}

*::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(45deg, #4949f7, #7f7ff7); /* Darker gradient on hover */
}

/* Optional for dark mode */
body.dark-mode * {
  scrollbar-color: #a1a1f7 #303030; /* Adjust colors for dark mode */
}

body.dark-mode *::-webkit-scrollbar-track {
  background: #303030;
}

body.dark-mode *::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, #7f7ff7, #5c5cf7);
}



.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #0000007f;
  /* Semi-transparent black */
  display: flex; /* Center the content div */
  justify-content: center;
  align-items: center;
  z-index: 99999; /* Ensure it's above other content */
}

.mini-loading-overlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* Semi-transparent black */
  display: flex; /* Center the content div */
  justify-content: center;
  align-items: center;
  z-index: 99999; /* Ensure it's above other content */
}


.loading-overlay img{ 
  margin: auto;
  height: 10%;
  animation: rotate 1s linear infinite;
  }
.mini-loading-overlay img{ 
margin: auto;
height: 5vh;
animation: rotate 1s linear infinite;
}
  
  
